<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %} <!--불러오기-->
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!--Google Icon-->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js">

        <link href="css/bootstrap.css" rel="stylesheet">


    </script>
    <style>
        .box {
            width: 50px;
            height: 50px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feed_box {
            margin: 20px 0;
            border: solid 1px gray;
            background-color: white;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width:100%;">
    <!--flex의 space-between 활용해서, 또 밑으로 새지 않게 nowrap, 반응형이 아니어도 되기에 최소 화면크기를 1000픽셀 -->
    <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px"/>
    <a class="navbar-brand" href="/main"> <img style="height: 30px; object-fit: contain"
         src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
    </a>
        <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
    <div style="display:flex;">
        <a style="color: black;" href="/main"><span class="material-icons" style="padding-right: 10px">home</span></a>
        <span id="nav_bar_add_box" class="material-icons-outlined" style="cursor:pointer; padding-right: 10px">add_box</span>
        <div class="dropdown">
            <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="box" style="width: 25px; height: 25px">
                    <img class="profile"
                         src="{% get_media_prefix %}{{ user.profile_image }}">
                </div>
            </a>
            <div class="dropdown-menu" style="left: -158px" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">프로필</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/user/logout">로그아웃</a>
            </div>
        </div>
    </div>
</nav>


<div style="display: flex; flex-direction: row; justify-content: center; padding-top: 60px; background-color: #fafafa">
    <div style="padding: 20px 60px">
        <div class="box" style="width: 175px; height: 175px;">
            <img class="profile"
                 src="{% get_media_prefix %}{{ user.profile_image }}">
        </div>
    </div>
    <div style="text-align: left;">
        <div style="display: flex; flex-display:row; margin: 20px 0px;">
            <div style="font-size: 26px; margin-right: 40px">
                {{ user.nickname }}
            </div>
            <button id="button_profile_upload" style="margin-right: 40px">프로필 사진 편집</button>
            <input type="file" id="input_fileupload" style="display: none;" onchange="profile_upload();">
            <span style="margin-right:40px;" class="material-symbols-outlined">settings</span>
        </div>
        <div style="margin-bottom: 20px">
            게시물 내 게시물 건수 팔로워 111 팔로잉 111
        </div>
        <div>
            <b>{{ user.name }}</b>
        </div>
    </div>
</div>

<div style="border-top: solid rgba(50, 50, 50, 0.1) 2px; width: 100%;">

    <div style="display: flex; flex-direction: row; justify-content: center;  margin:20px; ">
        <div id="button_feed_list" style="cursor:pointer; margin: 0 30px; display: flex; flex-display:row;"><span class="material-symbols-outlined">grid_on</span>내 게시물</div>
        <div id="button_feed_like_list"style="cursor:pointer; margin: 0 30px; display: flex; flex-display:row;"><span class="material-symbols-outlined">favorite_border</span>좋아요</div>
        <div id="button_feed_bookmark_list"style="cursor:pointer; margin: 0 30px; display: flex; flex-display:row;"><span class="material-symbols-outlined">bookmark_border</span>북마크</div>
    </div>

</div>

<div id="feed_list" style="width:100%; min-width:1000px; display:flex; justify-content: center; align-items: center;">
<div style="display:flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center;">
    {% for feed in feed_list %}
        <div style="width:300px; height:300px; margin: 10px 5px 0px 5px;">
            <div>
                <img style="width:300px; height:300px; object-fit: cover" src="{% get_media_prefix %}{{ feed.image }}">
            </div>
        </div>
    {% endfor %}
</div>
</div>

<div id="like_feed_list" style="width:100%; min-width:1000px; display:none; justify-content: center; align-items: center;">
<div style="display:flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center;">
    {% for feed in like_feed_list %}
        <div style="width:300px; height:300px; margin: 10px 5px 0px 5px;">
            <div>
                <img style="width:300px; height:300px; object-fit: cover" src="{% get_media_prefix %}{{ feed.image }}">
            </div>
        </div>
    {% endfor %}
</div>
</div>

<div id="bookmark_feed_list" style="width:100%; min-width:1000px; display:none; justify-content: center; align-items: center;">
<div style="display:flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center;">
    {% for feed in bookmark_feed_list %}
        <div style="width:300px; height:300px; margin: 10px 5px 0px 5px;">
            <div>
                <img style="width:300px; height:300px; object-fit: cover" src="{% get_media_prefix %}{{ feed.image }}">
            </div>
        </div>
    {% endfor %}
</div>
</div>

<!-- 첫 번째 모달 : 이미지 업로드 용 -->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">
            </div>
            <div>
                새 이미지 업로드
            </div>
            <div>
                <span style="cursor:pointer;" class="modal_close material-icons">close</span>
            </div>
        </div>
        <div class="img_upload_space" style="border-top: solid 1px gray; margin-top: 10px; width:778px; height: 540px;">
        </div>
    </div>
</div>

<!-- 두 번째 모달 : 내용 탑재용 -->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">
            </div>
            <div>
                새 이미지 업로드
            </div>
            <div>
                <span style="cursor:pointer;" class="modal_close material-icons">close</span>
            </div>
        </div>
        <div style="border-top: solid 1px gray; margin-top:10px; display: flex; flex-direction: row;">

            <div class="img_upload_space" style="width:500px; height: 540px;">
            </div>
            <div style="border-left: 1px solid gray">
                <div>
                    <textarea id="input_feed_content" style="width: 276px; height: 400px" class="form-control"
                              rows="5"></textarea>
                </div>
                <button id="feed_create_button" type="button" class="btn btn-primary" style="width:100%">공유하기</button>
            </div>
        </div>
    </div>
</div>


<!-- Jquery -->
<script>
    // button_feed_list 눌렸을 때
    $('#button_feed_list').click(function(){
        $('#feed_list').css({
            display: 'flex'
        });
            $('#like_feed_list').css({
                display: 'none'
            });
        $('#bookmark_feed_list').css({
            display: 'none'
        });
    });

    // button_feed_like_list 눌렸을 때
    $('#button_feed_like_list').click(function(){
        $('#feed_list').css({
            display: 'none'
        });
            $('#like_feed_list').css({
                display: 'flex'
            });
        $('#bookmark_feed_list').css({
            display: 'none'
        });
    });

    // button_bookmark_feed
    $('#button_feed_bookmark_list').click(function(){
        $('#feed_list').css({
            display: 'none'
        });
            $('#like_feed_list').css({
                display: 'none'
            });
        $('#bookmark_feed_list').css({
            display: 'flex'
        });
    });






     $('.modal_close').click(function () {
        $('#first_modal').css({
            display: 'none'
        });
        $('#second_modal').css({
            display: 'none'
        });
    });

    let files;

    $('#feed_create_button').click(function () {

        let file = files[0];
        let image = files[0].image;
        let content = $('#input_feed_content').val();
// 우선 user_id와 profile_image는 우리가 html에 데이터로 불러온게 아닌 그냥 삽입해둔 상태라 다른 방식을 거치지 않고 그대로 작성해주었다.

        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);
        // form data에 데이터 추가

        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "post",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/main");
            }
        })
    });

    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex'
        });

        $(document.body).css({
            overflowY: 'hidden'
        })

    });

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation(); // img_upload_space와 겹쳐진 부분에 탑재되는 것을 막는 역할
        e.preventDefault();

        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else { // dragleave 인 경우
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer; // 올린 파일을 업로드 하는
        files = e.target.files || e.dataTransfer.files;
        console.log("뭔가 이미 파일을 올렸네 " + files[0].name); // 파일을 드래그 해서 여러개 올릴 수도 있기에 files내 리스트처럼 접근해야한다
        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }


        if (files[0].type.match(/image.*/)) {


            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'flex'
            });

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-position": "center",
                "background-repeat": "no-repeat"
            }); // 이미지 파일인 경우 그걸로 배경설정
        } else {
            alert('이미지가 아닙니다.');
            return;
        }
    }

    $('#button_profile_upload').click(function (){
       $('#input_fileupload').click();
    });

    function profile_upload(){
        let file = $('#input_fileupload')[0].files[0]
        let email = "{{ user.email }}";

        let fd = new FormData()

        fd.append('file', file);
        fd.append('email', email);

        $.ajax({
            url: "/user/profile/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/content/profile");
            }
        })
    }

</script>


<!-- Bootstrap Bundle-->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


</body>


</html>